[Документация](https://docs.python.org/3/library/datetime.html#module-datetime)

```python
dt(year, month, day
    [, hour]
    [, minute]
    [, second]
    [, microsecond]
    [, tzinfo]
    [, fold]
)
```

In [1]:
from datetime import datetime as dt

## Методы класса

### today() ⇒ dt
Текущее местное время
> Эквивалент datetime.fromtimestamp(time.time())

In [2]:
dt.today()

datetime.datetime(2025, 9, 13, 14, 2, 30, 553527)

### now(tz) ⇒ dt
Текущее местное время
> Default: tz=None

In [3]:
dt.now()

datetime.datetime(2025, 9, 13, 14, 2, 30, 574219)

### utcnow() ⇒ dt
Текущее время UTC+0

In [4]:
dt.utcnow()

/tmp/ipykernel_21504/1189865458.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  dt.utcnow()

datetime.datetime(2025, 9, 13, 7, 2, 30, 592973)

### fromtimestamp(sec[, tz]) ⇒ dt
Возвращает локальную дату/время
> Default: tz=None

In [5]:
import time

dt.fromtimestamp(time.time())

datetime.datetime(2025, 9, 13, 14, 2, 30, 610575)

### replace(hour, minute, …) ⇒ time
Новое время с измененными значениями

In [6]:
dt.replace(dt.now(), minute=5)  # datetime.time(0, 5)

datetime.datetime(2025, 9, 13, 14, 5, 30, 625963)

### utcfromtimestamp(sec) ⇒ dt
Текущее время UTC+0

In [7]:
dt.utcfromtimestamp(time.time())

/tmp/ipykernel_21504/2606337611.py:1: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  dt.utcfromtimestamp(time.time())

datetime.datetime(2025, 9, 13, 7, 2, 30, 646033)

### fromordinal(num) ⇒ dt
Возвращает дату, где 1 - date(1,1,1)

In [8]:
dt.fromordinal(2)

datetime.datetime(1, 1, 2, 0, 0)

### fromisoformat(string)
Собирает date из строки ISO 8601
> До Python 3.11 только YYYY-MM-DD

In [9]:
dt.fromisoformat('1988-06-27')

datetime.datetime(1988, 6, 27, 0, 0)

### fromisocalendar(y, w, d)
date в соответствии с ISO

In [10]:
dt.fromisocalendar(1988,26,1)

datetime.datetime(1988, 6, 27, 0, 0)

### combine(date, time[, tz]) ⇒ dt
Возвращает datetime
> d.date() + d.time() + d.tzinfo\
> Если нет tz, то берется из time

In [11]:
dt.combine(dt(1988,6,27), dt(1988,6,27).timetz())

datetime.datetime(1988, 6, 27, 0, 0)

### strftime(date, f) ⇒ str
Форматированная строка с датой

In [12]:
dt.strftime(dt(1988,6,27), '%Y, %m, %d')

'1988, 06, 27'

### strptime(string[, format]) ⇒ dt
Получение даты из строки
> Default: "%a %b %d %H:%M:%S %Y”

### format
```python
    %Y # 2020 | Год с веком
    %y # 20   | Год без века
    %B # June | Полн. месяц
    %b # Jn   | Сокр.  месяц
    %m # 06   | Номер месяца
    %d # 27   | День месяца
    %A # Mon. | Полн. день недели
    %a # Mon  | Сокр. день недели
    %w # 1    | Номер дня недели
    %H # 24   | Час
    %I # 12   | Час
    %p # AM   | AM/PM
    %M # 00   | Число минут
    %S # 00   | Число секунд
    %Z # +07  | Временная зона
    %% # %
    %c # Sat Jan  4 11:19:04 2020
    %x # 06/27/20
    %X # 01:23:45
    %j # День года (001-366)
    %W # Неделя года (00пн-53)
    %U # Неделя года (00вс-53)
```

In [13]:
dt.strptime("27 Jun 88", "%d %b %y")

datetime.datetime(1988, 6, 27, 0, 0)

## Методы экземпляров класса

In [14]:
dt_ = dt(1988,6,27)

### date()
Возвращает date

In [15]:
dt_.date()

datetime.date(1988, 6, 27)

### time()
Возвращает time

In [16]:
dt_.time()

datetime.time(0, 0)

### timetz()
Возвращает time с tzinfo

In [17]:
dt_.timetz()

datetime.time(0, 0)

### timetuple() ⇒ struct_time
Возвращает struct_time

In [18]:
dt_.timetuple()

time.struct_time(tm_year=1988, tm_mon=6, tm_mday=27, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=179, tm_isdst=-1)

### utctimetuple() ⇒ struct_time
Возвращает struct_time с dst == 0

In [19]:
dt_.utctimetuple()

time.struct_time(tm_year=1988, tm_mon=6, tm_mday=27, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=179, tm_isdst=0)

### toordinal() ⇒ int
Возвращает день по Григореанскому календарю

In [20]:
dt_.toordinal()

725915

### timestamp() ⇒ float
Возвращает POSIX-отметку времени

In [21]:
dt_.timestamp()

583344000.0

### weekday() ⇒ int
День недели
> 0пн-6вс

In [22]:
dt_.weekday()

0

### isoweekday() ⇒ int
День недели
> 1пн-7вс

In [23]:
dt_.isoweekday()

1

### isocalendar() ⇒ IsoCalendarDate
Возвращает (year, week, weekday)

In [24]:
dt_.isocalendar()

datetime.IsoCalendarDate(year=1988, week=26, weekday=1)

### isoformat() ⇒ string
Приводит дату к строке ГГГГ-ММ-ДД

In [25]:
dt_.isoformat()

'1988-06-27T00:00:00'

### ctime() ⇒ string
Преобразует dt в строку

In [26]:
dt_.ctime()

'Mon Jun 27 00:00:00 1988'

### strftime(f) ⇒ string
Форматированная строка с датой

In [27]:
dt_.strftime('%Y, %m, %d')

'1988, 06, 27'

### astimezone()
Возвращает datetime с tzinfo

In [28]:
dt_.astimezone()

datetime.datetime(1988, 6, 27, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800), '+08'))