[docs](https://postgrespro.ru/docs/postgrespro/current/app-psql)

```sh
psql -h localhost
	 -U user_name
	 -d db_name
```

## DDL

### CREATE ROLE
```sql
create role role_name with login password 'password';
-- create user == create role role_name with login
```

### CREATE DATABASE

```sql
create database rroom_db
    with
    template=template0
    encoding='UTF8'
    lc_collate='ru_RU.UTF-8'
    lc_ctype='ru_RU.UTF-8'
    owner rroom;
```

### ALTER

```sql
ALTER TABLE tablename
RENAME TO   new_tablename;
```

```sql
ALTER TABLE tablename
RENAME COLUMN colname TO new_colname;
```


```sql
ALTER TABLE tablename
ADD|DROP COLUMN colname;
```

```sql
create table author (
    author_id bigint generated always as identity primary key,
    name varchar(150) not null check (length(name) >= 3),
    description text check (length(description) >= 30)
);

create table book_category (
    category_id int generated always as identity primary key,
    name varchar(150) not null check (length(name) >= 2)
);

create table book (
    book_id bigint generated always as identity primary key,
    name varchar(255) not null check (length(name) >= 2),
    author_id bigint not null references author(author_id),
    description text check (length(description) >= 30),
    cover varchar(255),
    category_id int not null references book_category(category_id)
);
```

```sql
create temp table something (id serial, name text);
```

### DROP

```sql
DROP DATABASE db0 WITH (FORCE);

drop table if exists book_category, author, book;
```