In [ ]:
from rich.pretty import pprint
from sqlalchemy import create_engine, text
from sqlalchemy import MetaData, Table, Column
from sqlalchemy import Integer, String, Text, ForeignKey
from sqlalchemy import select, insert, delete, update

from sqlalchemy import literal_column, and_, or_, not_, func, asc, desc

## Опредедение движка
[Документация](https://docs.sqlalchemy.org/en/20/core/engines.html)

In [43]:
engine = create_engine(
    # dialect+driver://username:password@host:port/database
    'sqlite:///:memory:',  # Строка подключения к БД
    echo=True,             # Отображение текста запросов
)

## Connection

In [44]:
with engine.connect() as conn:
    result = conn.execute(
        text("""--sql
        select sqlite_version(), 1 + 1 union all select 3, 4;
        """)
    )  # type(result)  -> <class 'sqlalchemy.engine.cursor.CursorResult'>
    
    # Методы CursorResult:
    # all()         -> получить все строки результата.
    # close()       -> закрыть результат.
    # columns()     -> выбрать или переупорядочить возвращаемые столбцы.
    # fetchall()    -> синоним all(), получить все строки.
    # fetchmany()   -> получить несколько строк.
    # fetchone()    -> получить одну строку.
    # first()       -> первую строку или None.
    # freeze()      -> "заморозить" результат для повторного использования.
    # keys()        -> получить список имён столбцов.
    # mappings()    -> строки как словари «имя столбца: значение».
    # merge()       -> объединить с другими результатами.
    # one()         -> ровно одна строка, иначе ошибка.
    # one_or_none() -> одна строка или None, иначе ошибка.
    # partitions()  -> разбить строки на блоки для обработки.
    # scalar()      -> значение первого столбца первой строки.
    # scalar_one()  -> одно скалярное значение, иначе ошибка.
    # scalar_one_or_none() -> один скаляр или None, иначе ошибка.
    # scalars()     -> итерировать только значения одного столбца.
    # tuples()      -> строки как кортежи.
    # unique()      -> только уникальные строки.
    # yield_per()   -> управлять размером порции при выборке.

    print(result.all())

2025-09-13 18:07:35,720 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,720 INFO sqlalchemy.engine.Engine --sql
        select sqlite_version(), 1 + 1 union all select 3, 4;

2025-09-13 18:07:35,721 INFO sqlalchemy.engine.Engine [generated in 0.00084s] ()
[('3.47.1', 2), (3, 4)]
2025-09-13 18:07:35,721 INFO sqlalchemy.engine.Engine ROLLBACK

## Доступ к значениям

In [45]:
with engine.connect() as conn:
    conn.execute(text("""--sql
    create table if not exists tmp (a int, b int);
    """))

    conn.execute(text("""--sql
    insert into tmp values (1, 2), (3, 4);
    """))

    # CursorResult похож на NamedTuple
    result = conn.execute(text('select a, b from tmp'))

    # Обращение к строкам/значениям
    for row in result:
        print(f'row: {row}')  # По индексу
        print(f'{row.a=}')    # По ключу

2025-09-13 18:07:35,740 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,741 INFO sqlalchemy.engine.Engine --sql
    create table if not exists tmp (a int, b int);

2025-09-13 18:07:35,741 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()
2025-09-13 18:07:35,742 INFO sqlalchemy.engine.Engine --sql
    insert into tmp values (1, 2), (3, 4);

2025-09-13 18:07:35,742 INFO sqlalchemy.engine.Engine [generated in 0.00046s] ()
2025-09-13 18:07:35,743 INFO sqlalchemy.engine.Engine select a, b from tmp
2025-09-13 18:07:35,743 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ()
row: (1, 2)
row.a=1
row: (3, 4)
row.a=3
2025-09-13 18:07:35,744 INFO sqlalchemy.engine.Engine ROLLBACK

## Метаданные
[Документация](https://docs.sqlalchemy.org/en/20/tutorial/metadata.html)

In [46]:
meta = MetaData()

## Define Tables

In [47]:
users_table = Table(
    'users',
    meta,
    Column('user_id', Integer, primary_key=True, autoincrement=True),
    Column('username', String(20), unique=True),
    Column('fullname', String(50)),
)

posts_table = Table(
    'posts',
    meta,
    Column('post_id', Integer, primary_key=True, autoincrement=True),
    Column('user_id', Integer, ForeignKey('users.user_id')),
    Column('title', String(100)),
    Column('text', Text)
)

## Create tables

In [48]:
meta.create_all(engine)

# Drop tables
# meta.drop_all(engine)

2025-09-13 18:07:35,794 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,795 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-09-13 18:07:35,796 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:07:35,797 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2025-09-13 18:07:35,797 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:07:35,798 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("posts")
2025-09-13 18:07:35,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:07:35,799 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("posts")
2025-09-13 18:07:35,799 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:07:35,800 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	user_id INTEGER NOT NULL,
	username VARCHAR(20),
	fullname VARCHAR(50),
	PRIMARY KEY (user_id),
	UNIQUE (username)
)


2025-09-13 18:07:35,800 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2025-09-13 18:07:35,801 INFO sqlalchemy.engine.Engine
CREATE TABLE posts (
	post_id INTEGER NOT NULL,
	user_id INTEGER,
	title VARCHAR(100),
	text TEXT,
	PRIMARY KEY (post_id),
	FOREIGN KEY(user_id) REFERENCES users (user_id)
)


2025-09-13 18:07:35,802 INFO sqlalchemy.engine.Engine [no key 0.00029s] ()
2025-09-13 18:07:35,802 INFO sqlalchemy.engine.Engine COMMIT

## Инфа по таблицам

In [49]:
pprint(users_table)

Table('users', MetaData(), Column('user_id', Integer(), table=<users>, primary_key=True, nullable=False), Column('username', String(length=20), table=<users>), Column('fullname', String(length=50), table=<users>), schema=None)

In [50]:
pprint(meta.tables)

FacadeDict({'users': Table('users', MetaData(), Column('user_id', Integer(), table=<users>, primary_key=True, nullable=False), Column('username', String(length=20), table=<users>), Column('fullname', String(length=50), table=<users>), schema=None), 'posts': Table('posts', MetaData(), Column('post_id', Integer(), table=<posts>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.user_id'), table=<posts>), Column('title', String(length=100), table=<posts>), Column('text', Text(), table=<posts>), schema=None)})

## Доступ к столбцам

In [51]:
pprint(users_table.c.keys())
pprint(users_table.c.username)

['user_id', 'username', 'fullname']

Column('username', String(length=20), table=<users>)

## CRUD

### INSERT

In [52]:
insert_stmt = insert(users_table).values(
    [
        {'username': 'max', 'fullname': 'Max Payne'}
    ]
)

print(insert_stmt)

compiled_stmt = insert_stmt.compile(engine)
print(compiled_stmt)
print(compiled_stmt.params)

INSERT INTO users (username, fullname) VALUES (:username_m0, :fullname_m0)
INSERT INTO users (username, fullname) VALUES (?, ?)
{'username_m0': 'max', 'fullname_m0': 'Max Payne'}

In [53]:
print(insert(users_table))

with engine.connect() as conn:
    conn.execute(
        insert(users_table),
        [
            {
                'username': 'john',
                'fullname': 'John Doe',
            },
            {
                'username': 'jane',
                'fullname': 'Jane Doe',
            },
        ],
    )

    conn.commit()

INSERT INTO users (user_id, username, fullname) VALUES (:user_id, :username, :fullname)
2025-09-13 18:07:35,890 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,890 INFO sqlalchemy.engine.Engine INSERT INTO users (username, fullname) VALUES (?, ?)
2025-09-13 18:07:35,891 INFO sqlalchemy.engine.Engine [generated in 0.00110s] [('john', 'John Doe'), ('jane', 'Jane Doe')]
2025-09-13 18:07:35,892 INFO sqlalchemy.engine.Engine COMMIT

In [54]:
insert_stmt = insert(users_table).values(
    [
        {
            users_table.c.username: 'joel',
            users_table.c.fullname: 'Joel Miller',
        },  # {'username': 'joel', 'fullname': 'Joel Miller'},
        {
            users_table.c.username: 'ellie',
            users_table.c.fullname: 'Ellie Williams',
        },  # {'username': 'ellie', 'fullname': 'Ellie Williams'}
    ]
)

with engine.connect() as conn:
    conn.execute(insert_stmt)
    conn.commit()

2025-09-13 18:07:35,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,910 INFO sqlalchemy.engine.Engine INSERT INTO users (username, fullname) VALUES (?, ?), (?, ?)
2025-09-13 18:07:35,911 INFO sqlalchemy.engine.Engine [no key 0.00107s] ('joel', 'Joel Miller', 'ellie', 'Ellie Williams')
2025-09-13 18:07:35,912 INFO sqlalchemy.engine.Engine COMMIT

#### Возврат значений из БД
> Поддерживается в [UPDATE](#update-values) и [DELETE](#delete-values)

In [55]:
one_person_stmt = insert(users_table).values(
    {'username': 'ethan', 'fullname': 'Ethan Hunt'}
)

with engine.connect() as conn:
    res = conn.execute(one_person_stmt)

print(res.inserted_primary_key)  # Вернувшийся ID

2025-09-13 18:07:35,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:07:35,932 INFO sqlalchemy.engine.Engine INSERT INTO users (username, fullname) VALUES (?, ?)
2025-09-13 18:07:35,932 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ('ethan', 'Ethan Hunt')
2025-09-13 18:07:35,933 INFO sqlalchemy.engine.Engine ROLLBACK
(5,)

In [56]:
rtrn_stmt = insert(users_table).values(
    [
        {'username': 'clark', 'fullname': 'Clark Kent'},
        {'username': 'lois', 'fullname': 'Lois Lane'},
    ]
).returning(users_table.c.username, users_table.c.fullname)

print(rtrn_stmt)

INSERT INTO users (username, fullname) VALUES (:username_m0, :fullname_m0), (:username_m1, :fullname_m1) RETURNING users.username, users.fullname

#### INSERT SELECT

In [57]:
insert_select_stmt = insert(users_table).from_select(
    ['username', 'fullname'],
    select(users_table).where(users_table.c.username == 'jane'),
)

print(insert_select_stmt)

INSERT INTO users (username, fullname) SELECT users.user_id, users.username, users.fullname
FROM users
WHERE users.username = :username_1

### SELECT

```sh
select(<table_or_columns>)   # Выборка из таблицы или отдельных колонок
    .join(<t>, <onclause>)   # Внутреннее соединение
    # .outerjoin(<t>)        # Левое внешнее соединение
    # .join(<t>, full=True)  # Полное внешнее соединение
    .where(<condition>)      # Условие фильтрации
    # .filter_by()           # Простое условие
    .group_by(<columns>)     # Группировка по указанным колонкам
    .having(<condition>)     # Условие для результатов группировки
    .order_by(<columns>)     # Сортировка результата
    .limit(<number>)         # Ограничение количества возвращаемых строк
    .offset(<number>)        # Пропуск заданного количества строк (для пагинации)
```

In [ ]:
# *
print(select(users_table))

SELECT users.user_id, users.username, users.fullname
FROM users

In [ ]:
# Columns
print(select(users_table.c.username, users_table.c.fullname))

SELECT users.username, users.fullname
FROM users

#### Request Example

In [35]:
with engine.connect() as conn:
    res = conn.execute(
        select(users_table).order_by(users_table.c.username),
    )

    users = res.all()

for user in users:
    print(user)

2025-09-13 17:29:08,795 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 17:29:08,796 INFO sqlalchemy.engine.Engine SELECT users.user_id, users.username, users.fullname
FROM users ORDER BY users.username
2025-09-13 17:29:08,796 INFO sqlalchemy.engine.Engine [cached since 34.13s ago] ()
2025-09-13 17:29:08,797 INFO sqlalchemy.engine.Engine ROLLBACK
(4, 'ellie', 'Ellie Williams')
(2, 'jane', 'Jane Doe')
(3, 'joel', 'Joel Miller')
(1, 'john', 'John Doe')

#### literal_column

In [ ]:
print(select(literal_column('1 + 1').label('sum'), users_table.c.username))

SELECT 1 + 1 AS sum, users.username
FROM users

#### AS

In [ ]:
print(select(users_table.c.username.label('ub')))

SELECT users.username AS ub
FROM users

#### FROM

In [94]:
select_from_stmt = select(users_table).select_from(users_table)
print(select_from_stmt, '\n')

join_from_stmt = select(users_table).join_from(users_table, posts_table)
print(join_from_stmt, '\n')

join_stmt = select(users_table).join(
    posts_table,
    users_table.c.user_id == posts_table.c.user_id,  # Можно не указывать явно
)
print(join_stmt, '\n')

SELECT users.user_id, users.username, users.fullname
FROM users

SELECT users.user_id, users.username, users.fullname
FROM users JOIN posts ON users.user_id = posts.user_id

SELECT users.user_id, users.username, users.fullname
FROM users JOIN posts ON users.user_id = posts.user_id

#### WHERE

In [83]:
columns = (users_table.c.username, users_table.c.fullname)

stmt = select(*columns).where(
    or_(
        and_(
            users_table.c.fullname.like('%Doe%'),
            not_(users_table.c.username == 'jane'),
        ),
        users_table.c.username == 'joel',
    )
)

# .where(
#     users_table.c.username == 'john',
#     users_table.c.fullname == 'John Doe',
# )
# Или несколько .where пайплайном

with engine.connect() as conn:
    res = conn.execute(stmt)

    for row in res:
        print(row)

2025-09-13 20:48:58,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 20:48:58,372 INFO sqlalchemy.engine.Engine SELECT users.username, users.fullname
FROM users
WHERE users.fullname LIKE ? AND users.username != ? OR users.username = ?
2025-09-13 20:48:58,372 INFO sqlalchemy.engine.Engine [cached since 32.6s ago] ('%Doe%', 'jane', 'joel')
('john', 'John Doe')
('joel', 'Joel Miller')
2025-09-13 20:48:58,373 INFO sqlalchemy.engine.Engine ROLLBACK

In [87]:
# filter_by
simple_filter_stmt = select(users_table).filter_by(username='john')

print(simple_filter_stmt)

SELECT users.user_id, users.username, users.fullname
FROM users
WHERE users.username = :username_1

#### GROUP_BY

In [ ]:
# Аггрегатная функция
count_fn = func.count(users_table.c.user_id)

print(count_fn)

count(users.user_id)

In [105]:
group_stmt = select(
    users_table.c.username,
    count_fn.label('users_count'),
).group_by(
    users_table.c.username
)

print(group_stmt)

SELECT users.username, count(users.user_id) AS users_count
FROM users GROUP BY users.username

#### ORDER_BY

In [112]:
# by column
order_stmt = select(users_table).order_by(
    users_table.c.username,  # ASC
    users_table.c.fullname.desc(),  # DESC
)

print(order_stmt)

# by label
order_stmt = select(
    users_table.c.username.label('name'),
    users_table.c.fullname,
).order_by(
    desc('name'),
    asc('fullname'),
)

print(order_stmt)

SELECT users.user_id, users.username, users.fullname
FROM users ORDER BY users.username, users.fullname DESC
SELECT users.username AS name, users.fullname
FROM users ORDER BY name DESC, users.fullname ASC

#### Subqueries

In [120]:
sub_stmt = select(
    users_table.c.username,
).where(
    users_table.c.username == 'john',
).subquery()

print(sub_stmt, '\n')

select_stmt = select(
    users_table.c.username,
    users_table.c.fullname,
).join_from(
    users_table,
    sub_stmt,
    sub_stmt.c.username == users_table.c.username,
)

print(select_stmt)

SELECT users.username
FROM users
WHERE users.username = :username_1

SELECT users.username, users.fullname
FROM users JOIN (SELECT users.username AS username
FROM users
WHERE users.username = :username_1) AS anon_1 ON anon_1.username = users.username

#### CTE

In [122]:
cte_stmt = select(
    users_table.c.username,
    users_table.c.fullname,
).where(
    users_table.c.username == 'john',
).cte('john_cte')

print(cte_stmt, '\n')

select_stmt = select(
    users_table.c.username,
    users_table.c.fullname,
).join_from(
    users_table,
    cte_stmt,
    cte_stmt.c.username == users_table.c.username,
)

print(select_stmt)

SELECT users.username, users.fullname
FROM users
WHERE users.username = :username_1

WITH john_cte AS
(SELECT users.username AS username, users.fullname AS fullname
FROM users
WHERE users.username = :username_1)
 SELECT users.username, users.fullname
FROM users JOIN john_cte ON john_cte.username = users.username

### UPDATE

In [ ]:
select_stmt = select(users_table.c.username, users_table.c.fullname)
update_stmt = update(users_table).where(users_table.c.username == 'john').values(
    fullname='John J. Doe',
)

with engine.connect() as conn:
    conn.execute(update_stmt)
    conn.commit()

    res = conn.execute(select_stmt)

print(res.all())

2025-09-13 00:10:53,697 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 00:10:53,698 INFO sqlalchemy.engine.Engine UPDATE users SET fullname=? WHERE users.username = ?
2025-09-13 00:10:53,698 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ('John J. Doe', 'john')
2025-09-13 00:10:53,699 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 00:10:53,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 00:10:53,700 INFO sqlalchemy.engine.Engine SELECT users.username, users.fullname
FROM users
2025-09-13 00:10:53,700 INFO sqlalchemy.engine.Engine [cached since 21.55s ago] ()
2025-09-13 00:10:53,701 INFO sqlalchemy.engine.Engine ROLLBACK
[('john', 'John J. Doe')]

### DELETE

In [ ]:
delete_stmt = delete(users_table).where(users_table.c.username == 'jane')
select_stmt = select(users_table.c.username, users_table.c.fullname)

with engine.connect() as conn:
    conn.execute(delete_stmt)
    conn.commit()

    res = conn.execute(select_stmt)

print(res.all())

2025-09-13 00:10:32,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 00:10:32,149 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.username = ?
2025-09-13 00:10:32,149 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ('jane',)
2025-09-13 00:10:32,150 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 00:10:32,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 00:10:32,151 INFO sqlalchemy.engine.Engine SELECT users.username, users.fullname
FROM users
2025-09-13 00:10:32,151 INFO sqlalchemy.engine.Engine [generated in 0.00071s] ()
2025-09-13 00:10:32,152 INFO sqlalchemy.engine.Engine ROLLBACK
[('john', 'John Doe')]