[Документация](https://docs.sqlalchemy.org/en/20/orm/index.html)

In [14]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column
from sqlalchemy.orm import Session, relationship
from sqlalchemy import create_engine
from sqlalchemy import String, Text, text, ForeignKey

## Определение движка
[Документация](https://docs.sqlalchemy.org/en/20/core/engines.html)

In [2]:
engine = create_engine(
    # dialect+driver://username:password@host:port/database
    'sqlite:///:memory:',  # Строка подключения к БД
    echo=True,             # Отображение текста запросов
)

## Foreign keys в SQLite

In [3]:
# Включаем поддержку Foreign keys в SQLite
from sqlalchemy import event

def _fk_pragma_on_connect(dbapi_con, con_record):
    dbapi_con.execute('pragma foreign_keys=ON')

event.listen(engine, 'connect', _fk_pragma_on_connect)

## Session
[Документация](https://docs.sqlalchemy.org/en/20/orm/session_basics.html)

In [4]:
stmt = text("""--sql
select 1, 2, 3;
""")

with Session(engine) as session:
    result = session.execute(stmt)
    print(result.all())

2025-09-13 18:22:15,310 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:22:15,311 INFO sqlalchemy.engine.Engine --sql
select 1, 2, 3;

2025-09-13 18:22:15,312 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ()
[(1, 2, 3)]
2025-09-13 18:22:15,312 INFO sqlalchemy.engine.Engine ROLLBACK

## Define tables

In [5]:
class Base(DeclarativeBase):
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)

In [6]:
class User(Base):
    __tablename__ = 'users'
    username: Mapped[str] = mapped_column(String(20), unique=True)
    fullname: Mapped[str] = mapped_column(String(50))
    posts: Mapped[list['Post']] = relationship(back_populates='user')

    def __str__(self) -> str:
        return f'User(id={self.id}, username={self.username!r}, fullname={self.fullname!r})'


print(f'{User.__table__!r}')

Table('users', MetaData(), Column('username', String(length=20), table=<users>, nullable=False), Column('fullname', String(length=50), table=<users>, nullable=False), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), schema=None)

In [7]:
User.metadata.tables

FacadeDict({'users': Table('users', MetaData(), Column('username', String(length=20), table=<users>, nullable=False), Column('fullname', String(length=50), table=<users>, nullable=False), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), schema=None)})

In [8]:
class Post(Base):
    __tablename__ = 'posts'
    title: Mapped[str] = mapped_column(String(50))
    body: Mapped[str] = mapped_column(Text)
    author_id: Mapped[int] = mapped_column(ForeignKey('users.id'))
    user: Mapped['User'] = relationship(back_populates='posts')

    def __str__(self) -> str:
        return f'Post(id={self.id}, title={self.title!r}, body={self.body!r})'

## Create tables

In [9]:
Base.metadata.create_all(engine)

2025-09-13 18:22:15,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:22:15,411 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-09-13 18:22:15,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:22:15,412 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2025-09-13 18:22:15,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:22:15,413 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("posts")
2025-09-13 18:22:15,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:22:15,414 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("posts")
2025-09-13 18:22:15,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 18:22:15,415 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	username VARCHAR(20) NOT NULL,
	fullname VARCHAR(50) NOT NULL,
	id INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (username)
)


2025-09-13 18:22:15,415 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2025-09-13 18:22:15,417 INFO sqlalchemy.engine.Engine
CREATE TABLE posts (
	title VARCHAR(50) NOT NULL,
	body TEXT NOT NULL,
	author_id INTEGER NOT NULL,
	id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(author_id) REFERENCES users (id)
)


2025-09-13 18:22:15,417 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2025-09-13 18:22:15,418 INFO sqlalchemy.engine.Engine COMMIT

## CRUD

### INSERT

In [10]:
with Session(engine) as session:
    users = [
        User(username='alex', fullname='Alex Petrov'),
        User(username='ivan', fullname='Ivan Semenov'),
    ]

    session.add_all(users)

    session.commit()

2025-09-13 18:22:15,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:22:15,434 INFO sqlalchemy.engine.Engine INSERT INTO users (username, fullname) VALUES (?, ?) RETURNING id
2025-09-13 18:22:15,434 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('alex', 'Alex Petrov')
2025-09-13 18:22:15,435 INFO sqlalchemy.engine.Engine INSERT INTO users (username, fullname) VALUES (?, ?) RETURNING id
2025-09-13 18:22:15,436 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('ivan', 'Ivan Semenov')
2025-09-13 18:22:15,436 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
with Session(engine) as session:
    posts = [
        Post(title='Post 1', body='Body 1', author_id=1),
        Post(title='Post 2', body='Body 2', author_id=1),
        Post(title='Post 3', body='Body 3', author_id=2),
    ]

    session.add_all(posts)

    session.commit()

2025-09-13 18:28:19,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:28:19,123 INFO sqlalchemy.engine.Engine INSERT INTO posts (title, body, author_id) VALUES (?, ?, ?) RETURNING id
2025-09-13 18:28:19,124 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Post 1', 'Body 1', 1)
2025-09-13 18:28:19,124 INFO sqlalchemy.engine.Engine INSERT INTO posts (title, body, author_id) VALUES (?, ?, ?) RETURNING id
2025-09-13 18:28:19,125 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Post 2', 'Body 2', 1)
2025-09-13 18:28:19,125 INFO sqlalchemy.engine.Engine INSERT INTO posts (title, body, author_id) VALUES (?, ?, ?) RETURNING id
2025-09-13 18:28:19,125 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Post 3', 'Body 3', 2)
2025-09-13 18:28:19,126 INFO sqlalchemy.engine.Engine COMMIT

### SELECT

In [21]:
from sqlalchemy import select

print(select(User))

print(select(User.fullname, User.username))

SELECT users.username, users.fullname, users.id
FROM users
SELECT users.fullname, users.username
FROM users

In [22]:
with Session(engine) as session:
    
    # Сессия всегда вернет кортеж сущностей
    s = session.execute(select(User))

    # Если нужен список Юзеров, то так:
    for user in s.scalars():
        print(user)

2025-09-13 18:27:09,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:27:09,375 INFO sqlalchemy.engine.Engine SELECT users.username, users.fullname, users.id
FROM users
2025-09-13 18:27:09,376 INFO sqlalchemy.engine.Engine [cached since 285s ago] ()
User(id=1, username='alex', fullname='Alex Petrov')
User(id=2, username='ivan', fullname='Ivan Semenov')
2025-09-13 18:27:09,376 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
# Первое значение
with Session(engine) as session:
    s = session.execute(select(User))

    print(s.scalars().first())  # Первый

2025-09-13 18:25:21,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:25:21,027 INFO sqlalchemy.engine.Engine SELECT users.username, users.fullname, users.id
FROM users
2025-09-13 18:25:21,027 INFO sqlalchemy.engine.Engine [cached since 179s ago] ()
User(id=1, username='alex', fullname='Alex Petrov')
2025-09-13 18:25:21,028 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
# Several Columns
with Session(engine) as session:
    s = session.execute(select(User.fullname, Post.title).where(User.id == Post.author_id))

    for fullname, title in s.all():
        print(f'{fullname}: {title}')

2025-09-13 18:28:44,192 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 18:28:44,193 INFO sqlalchemy.engine.Engine SELECT users.fullname, posts.title
FROM users, posts
WHERE users.id = posts.author_id
2025-09-13 18:28:44,194 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ()
Alex Petrov: Post 1
Alex Petrov: Post 2
Ivan Semenov: Post 3
2025-09-13 18:28:44,195 INFO sqlalchemy.engine.Engine ROLLBACK

### UPDATE

In [12]:
with Session(engine) as session:
    user = session.get(User, 2)
    user.name = 'Ivan Ivanov'
    session.commit()

    print(f'User: {user.login} updated')

User: ivan updated

### DELETE

In [ ]:
with Session(engine) as session:
    user = session.get(User, 1)
    session.delete(user)
    session.commit()

    print(f'User: {user.login} deleted')

User: alex deleted

In [20]:
with Session(engine) as session:
    users = session.query(User)

    for user in enumerate(users):
        print(f'{user[0]}: {user[1].login} - {user[1].name}')

0: ivan - Ivan Ivanov